/runtime.log
/venv/
/.idea/
/__pycache__/
*/__pycache__/
Fitness/__pycache__/Regression.cpython-39.pyc
Fitness/__pycache__/Regression.cpython-39.pyc
Individual/__pycache__/CueIndividual.cpython-39.pyc

